# Ignore autogenned color files
config/niri/noctalia.kdl
config/noctalia/colors.json
config/nvim/lua/matugen.lua
config/alacritty/themes/noctalia.toml

# Ignore user-selected package list
script/package-lists/user-selected.packages
script/package-lists/user-selected-aur.packages

# Ignore user-selected install components
selected_install.txt

# Ignore wallpaper changes
wallpaper
wallpaper-presets/*

# Ignore config backups
backups

# Ignore state
helpers/state
