# Ignore fishy spam
*fish_history
*recently-used.xbel

# Ignore autogenned color files
config/niri/noctalia.kdl
config/noctalia/colors.json
config/nvim/lua/matugen.lua

# Ignore user-selected package list
script/package-lists/user-selected.packages

# Ignore wallpaper changes
wallpaper
wallpaper-presets/*
